# Constraints for Papilio Pro
NET switch_7 LOC = "P121"  | IOSTANDARD=LVTTL;
NET switch_6 LOC = "P120"  | IOSTANDARD=LVTTL;
NET switch_5 LOC = "P119"  | IOSTANDARD=LVTTL;
NET switch_4 LOC = "P118"  | IOSTANDARD=LVTTL;
NET switch_3 LOC = "P117"  | IOSTANDARD=LVTTL;
NET switch_2 LOC = "P116"  | IOSTANDARD=LVTTL;
NET switch_1 LOC = "P115"  | IOSTANDARD=LVTTL;
NET switch_0 LOC = "P114"  | IOSTANDARD=LVTTL;
NET LED_7    LOC = "P134" | IOSTANDARD=LVTTL;
NET LED_6    LOC = "P133" | IOSTANDARD=LVTTL;
NET LED_5    LOC = "P132" | IOSTANDARD=LVTTL;
NET LED_4    LOC = "P131" | IOSTANDARD=LVTTL;
NET LED_3    LOC = "P127" | IOSTANDARD=LVTTL;
NET LED_2    LOC = "P126" | IOSTANDARD=LVTTL;
NET LED_1    LOC = "P124" | IOSTANDARD=LVTTL;
NET LED_0    LOC = "P123" | IOSTANDARD=LVTTL;